<h2>Listes des arbres</h2>

<form action="{{ path('arbreList') }}" method="get">
    <input type="text" name="adresse" placeholder="Entrer l'adresse du parc">
    <button type="submit">Recherche</button>
</form>

<table border="2">
    <tr>
        <th>Numéro arbre</th>
        <th>Position</th>
        <th>Date implentation</th>
        <th>Parc</th>
        <th>En risque</th>
        <th>Actions</th>
    </tr>
    {% for i in arbres %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.position }}</td>
            <td>{{ i.dateImplantation | date('d/m/y') }}</td>
            <td>{{ i.parc }}</td>
            {% if i.aRisque == 1 %}
                <td>Oui</td>
            {% else %}
                <td>Non</td>
            {% endif %}
            <td>
                {% if i.aRisque ==1 %}
                    <a href="{{ path('arbreRemove',{'id':i.id}) }}">Remove</a>
                {% endif %}
                <a href="{{ path('arbreUpdate',{'id':i.id}) }}">Update</a>
            </td>
        </tr>
    {% endfor %}
</table>
<a href="{{ path('arbreAdd') }}">Ajouter une arbre</a>